@{
    Layout = "_LayoutClient";
}

<head>
    <meta charset="utf-8">
    <title>Contact us</title>
    <meta content="Templines" name="author">
    <meta content="KeyMoto" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/uikit.min.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/slick-theme.css">
    <link rel="stylesheet" href="assets/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>


<body class="page-contacts">

    <main class="page-main">
        <div class="section-hero">
            <div class="section-hero__bg" style="background-image: url(assets/img/bg/contacts.jpg)">
                <div class="uk-container">
                    <div class="section-hero__content">
                        <div class="section-hero__title">                            
                            <div class="uk-h1">Hakkımızda</div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="page-wrapper">
        <div class="uk-section-large uk-container">
            <div class="uk-grid uk-grid-stack" data-uk-grid="">
                <div class="uk-width-3-3@m uk-first-column">

                    <article class="article-full">

                        <p>Bu sayfada şirket hakkında bilgiler verilir.
                    </article>

                </div>


            </div>
        </div>
    </div>
     
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/uikit.min.js"></script>
    <script src="assets/js/uikit-icons.min.js"></script>
    <script src="assets/js/fontawesome.all.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/ion.rangeSlider.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
