@{
    Layout = "_LayoutClient";
}

<!DOCTYPE html> 
<body class="page-contacts">

    <main class="page-main">
        <div class="section-hero">
            <div class="section-hero__bg" style="background-image: url(assets/img/bg/contacts.jpg)">
                <div class="uk-container">
                    <div class="section-hero__content">
                        <div class="section-hero__title">
                            <div class="uk-h1">Servisler</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="page-wrapper">
        <div class="uk-section-large uk-container">
            <div class="uk-grid uk-grid-stack" data-uk-grid="">
                <div class="uk-width-3-3@m uk-first-column">

                    <article class="article-full">

                        <p>Bu sayfada servisler hakkında bilgiler verilir.
                    </article>

                </div>


            </div>
        </div>
    </div>

</body>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/uikit.min.js"></script>
<script src="assets/js/uikit-icons.min.js"></script>
<script src="assets/js/fontawesome.all.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/ion.rangeSlider.min.js"></script>
<script src="assets/js/main.js"></script>

<!-- Visual Studio Browser Link -->
<script type="text/javascript" src="/_vs/browserLink" async="async" id="__browserLink_initializationData" data-requestid="3ba320357eb34d7099df29ba7ae514e4" data-requestmappingfromserver="false" data-connecturl="http://localhost:49735/7a48feb0029945ab8d57426f376bb6b1/browserLink"></script>
<!-- End Browser Link -->

<script src="/_framework/aspnetcore-browser-refresh.js"></script>
</html>


